<a href="https://colab.research.google.com/github/sumaaithal/PySpark_30Days_Challenge/blob/main/pyspark22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark

Hit:1 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease [18.1 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,305 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,599 kB]
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,046 kB]
Get:14 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main Sources [2,257 kB]
Get:15 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,326 kB]
Get:16 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main amd64 Packages [1,158 kB]
Fetched 8,942 kB in 3s (3,457 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
30 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [4]:
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]

In [6]:
df = spark.createDataFrame(data=simpleData, schema=schema)
df.printSchema()

df.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

In [49]:
from pyspark.sql.functions import approx_count_distinct, avg , collect_list, collect_set, countDistinct, count, first, last, kurtosis, max,min

from pyspark.sql.functions import mean, skewness, stddev, stddev_samp, stddev_pop, sum, sumDistinct, variance, var_samp, var_pop

In [11]:
df.select(approx_count_distinct("salary")).collect()[0][0]

6

In [15]:
df.select( avg("salary") ).collect()[0][0]

3400.0

In [18]:
df.select(  collect_list("salary") ).collect()[0][0]

[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]

In [20]:
df.select( collect_set("salary")).collect()[0][0]

[4600, 3000, 3900, 4100, 3300, 2000]

In [23]:
df.select( countDistinct("department","salary") ).collect()[0][0]

8

In [27]:
df.select( count("salary") ).collect()[0][0]

10

In [31]:
df.select( first("salary") ).collect()[0][0]

3000

In [32]:
df.select( last("salary") ).collect()[0][0]

4100

In [34]:
df.select( kurtosis("salary") ).collect()[0][0]

-0.6467803030303032

In [36]:
df.select( max("salary") ).collect()[0][0]

4600

In [37]:
df.select( min("salary") ).collect()[0][0]

2000

In [39]:
df.select( mean("salary") ).collect()[0][0]

3400.0

In [40]:
df.select( skewness("salary") ).collect()[0][0]

-0.12041791181069571

In [43]:
df.select( stddev("salary") ).collect()[0][0]

765.9416862050705

In [44]:
df.select( stddev_samp("salary") ).collect()[0][0]

765.9416862050705

In [45]:
df.select( stddev_pop("salary") ).collect()[0][0]

726.636084983398

In [47]:
df.select( sum("salary") ).collect()[0][0]

34000

In [48]:
df.select( sumDistinct("salary") ).collect()[0][0]

/content/spark-3.5.0-bin-hadoop3/python/pyspark/sql/functions.py:988: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

20900

In [50]:
df.select( variance("salary") ).collect()[0][0]

586666.6666666666

In [51]:
df.select( var_samp("salary") ).collect()[0][0]

586666.6666666666

In [52]:
df.select( var_pop("salary") ).collect()[0][0]

528000.0