<a href="https://colab.research.google.com/github/sumaaithal/PySpark_30Days_Challenge/blob/main/pyspark24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.5.0/spark-3.5.0-bin-hadoop3.tgz
!tar xf spark-3.5.0-bin-hadoop3.tgz
!pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,332 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,606 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,582 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,047 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,307 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,611 kB]
Fetched 8,718 kB in 4s (2,459 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
24 packages can be upgraded. Run 'apt list --upgradable' to see them.

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.5.0-bin-hadoop3"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [19]:
from pyspark.sql.functions import *
from pyspark.sql.functions import date_format,col, to_date

In [4]:
data=[["1","2020-02-01"],["2","2019-03-01"],["3","2021-03-01"]]

df = spark.createDataFrame(data=data,schema=["id","date"])
df.show()

+---+----------+
| id|      date|
+---+----------+
|  1|2020-02-01|
|  2|2019-03-01|
|  3|2021-03-01|
+---+----------+

In [7]:
df.select(current_date().alias("current_date")).show(1)

+------------+
|current_date|
+------------+
|  2024-01-08|
+------------+
only showing top 1 row

In [18]:
df.select(col("date"),date_format(col("date"),"MM-dd-yyyy")).show()

+----------+-----------------------------+
|      date|date_format(date, MM-dd-yyyy)|
+----------+-----------------------------+
|2020-02-01|                   02-01-2020|
|2019-03-01|                   03-01-2019|
|2021-03-01|                   03-01-2021|
+----------+-----------------------------+

In [20]:
df.select(col("date"),
          to_date(col("date"),"yyyy-mm-dd").alias("to_date")).show()

+----------+----------+
|      date|   to_date|
+----------+----------+
|2020-02-01|2020-01-01|
|2019-03-01|2019-01-01|
|2021-03-01|2021-01-01|
+----------+----------+

In [23]:
df.select(col("date"),
          date_diff(current_date(),col("date")).alias("date_difference")).show()

+----------+---------------+
|      date|date_difference|
+----------+---------------+
|2020-02-01|           1437|
|2019-03-01|           1774|
|2021-03-01|           1043|
+----------+---------------+

In [25]:
df.select(col("date"),
          months_between(current_date(),col("date")).alias("months_difference")).show()

+----------+-----------------+
|      date|months_difference|
+----------+-----------------+
|2020-02-01|      47.22580645|
|2019-03-01|      58.22580645|
|2021-03-01|      34.22580645|
+----------+-----------------+

In [30]:
df.select(col("date"),
          add_months(col("date"),3).alias("months_add"),
          add_months(col("date"),-3).alias("months_sub"),
          date_add(col("date"),3).alias("date_add"),
          date_sub(col("date"),3).alias("date_sub")).show()

+----------+----------+----------+----------+----------+
|      date|months_add|months_sub|  date_add|  date_sub|
+----------+----------+----------+----------+----------+
|2020-02-01|2020-05-01|2019-11-01|2020-02-04|2020-01-29|
|2019-03-01|2019-06-01|2018-12-01|2019-03-04|2019-02-26|
|2021-03-01|2021-06-01|2020-12-01|2021-03-04|2021-02-26|
+----------+----------+----------+----------+----------+

In [31]:
df.select(col("date"),
          year(col("date")).alias("year"),
          month(col("date")).alias("month"),
          next_day(col("date"),"sunday").alias("next_day"),
          weekofyear(col("date")).alias("weekofyear")).show()

+----------+----+-----+----------+----------+
|      date|year|month|  next_day|weekofyear|
+----------+----+-----+----------+----------+
|2020-02-01|2020|    2|2020-02-02|         5|
|2019-03-01|2019|    3|2019-03-03|         9|
|2021-03-01|2021|    3|2021-03-07|         9|
+----------+----+-----+----------+----------+

In [32]:
df.select(col("date"),
          dayofweek(col("date")).alias("dayofweek"),
          dayofmonth(col("date")).alias("dayofmonth"),
          dayofyear(col("date")).alias("dayofyear")).show()

+----------+---------+----------+---------+
|      date|dayofweek|dayofmonth|dayofyear|
+----------+---------+----------+---------+
|2020-02-01|        7|         1|       32|
|2019-03-01|        6|         1|       60|
|2021-03-01|        2|         1|       60|
+----------+---------+----------+---------+

In [35]:
data=[["1","02-01-2020 11 01 19 06"],["2","03-01-2019 12 01 19 406"],["3","03-01-2021 12 01 19 406"]]
df2 = spark.createDataFrame(data=data,schema=["id","datestamps"])
df2.show(truncate=False)

+---+-----------------------+
|id |datestamps             |
+---+-----------------------+
|1  |02-01-2020 11 01 19 06 |
|2  |03-01-2019 12 01 19 406|
|3  |03-01-2021 12 01 19 406|
+---+-----------------------+

In [37]:
df2.select(current_timestamp().alias("current_timestamp")).show(1,truncate=False)

+-----------------------+
|current_timestamp      |
+-----------------------+
|2024-01-08 07:47:41.838|
+-----------------------+
only showing top 1 row

In [50]:
data=[["1","2020-02-01 11:01:19.06"],["2","2019-03-01 12:01:19.406"],["3","2021-03-01 12:01:19.406"]]
df3=spark.createDataFrame(data,["id","datestamps"])

df3.select(col("datestamps"),
           hour(col("datestamps")).alias("hour"),
           minute(col("datestamps")).alias("minute"),
           second(col("datestamps")).alias("seconds")).show()

+--------------------+----+------+-------+
|          datestamps|hour|minute|seconds|
+--------------------+----+------+-------+
|2020-02-01 11:01:...|  11|     1|     19|
|2019-03-01 12:01:...|  12|     1|     19|
|2021-03-01 12:01:...|  12|     1|     19|
+--------------------+----+------+-------+