<a href="https://colab.research.google.com/github/sumaaithal/PySpark_30Days_Challenge/blob/main/pyspark_learn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [5]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [6]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [7]:
## create RDD

In [8]:
dataList = [("Java", 20000), ("Python", 100000), ("Scala", 3000)]

In [9]:
rdd = spark.sparkContext.parallelize(dataList)

In [10]:
## creating the dataframe

In [11]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]

In [12]:
columns = ['FName','MName','LName',"DOB",'Gender','Salary']

In [13]:
df = spark.createDataFrame(data=data,schema=columns)

In [14]:
df.show()

+-------+-----+--------+----------+------+------+
|  FName|MName|   LName|       DOB|Gender|Salary|
+-------+-----+--------+----------+------+------+
|  James|     |   Smith|1991-04-01|     M|  3000|
|Michael| Rose|        |2000-05-19|     M|  4000|
| Robert|     |Williams|1978-09-05|     M|  4000|
|  Maria| Anne|   Jones|1967-12-01|     F|  4000|
|    Jen| Mary|   Brown|1980-02-17|     F|    -1|
+-------+-----+--------+----------+------+------+

In [15]:
##Sql

In [16]:
df.createOrReplaceTempView("People_data")

In [17]:
df2 = spark.sql("select * from People_data")

In [18]:
df2.show()

+-------+-----+--------+----------+------+------+
|  FName|MName|   LName|       DOB|Gender|Salary|
+-------+-----+--------+----------+------+------+
|  James|     |   Smith|1991-04-01|     M|  3000|
|Michael| Rose|        |2000-05-19|     M|  4000|
| Robert|     |Williams|1978-09-05|     M|  4000|
|  Maria| Anne|   Jones|1967-12-01|     F|  4000|
|    Jen| Mary|   Brown|1980-02-17|     F|    -1|
+-------+-----+--------+----------+------+------+

In [21]:
df3 = spark.sql("select Gender,count(*) from People_data group by Gender")

In [22]:
df3.show()

+------+--------+
|Gender|count(1)|
+------+--------+
|     F|       2|
|     M|       3|
+------+--------+